parameters:
    level: 2

    reportUnmatchedIgnoredErrors: false

    # requires exact closure types
    checkMissingCallableSignature: true
    checkGenericClassInNonGenericObjectType: false

    universalObjectCratesClasses:
        - Adebipe\Model\Model

    scanDirectories:
        - src
        - services

    paths:
        - src
        - services

    excludePaths:
        - src/Views

    bootstrapFiles:
        - bootstrap.php