parameters:
    level: 6

    reportUnmatchedIgnoredErrors: false

    # requires exact closure types
    checkMissingCallableSignature: true
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - "#.*no value type specified in iterable type array\\.$#"

    universalObjectCratesClasses:
        - Adebipe\Model\Model

    scanDirectories:
        - src
        - services

    paths:
        - src
        - services

    excludePaths:
        - src/Views

    bootstrapFiles:
        - bootstrap.php